In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import os

os.chdir("data/")

In [2]:
# ' ', '0', '1', '2', '3', '4', '5', '6', '7', '8', '9', 'a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z', '²', '³', '¹', 'ß', 'à', 'á', 'â', 'ã', 'ä', 'å', 'æ', 'ç', 'è', 'é', 'ê', 'ë', 'ì', 'í', 'î', 'ï', 'ð', 'ñ', 'ò', 'ó', 'ô', 'õ', 'ö', 'ø', 'ù', 'ú', 'û', 'ü', 'ý', 'ÿ'

In [3]:
special_chars = ['\n', '\r', '!', '"', '#', '$', '%', '&', "'", '(', ')', '*', '+', ',', '-', '.', '/', ':', ';', '=', '>', '?', '@', '[', ']', '_', '`', '|', '~', '\x81', '\x8e', '\x92', '\xa0', '¡', '©', '«', '¬', '®', '°', '¶', '»', '÷']

replace_chars = {
    '¹':'1',
    '²':'2',
    '³':'3',
    'à':'a',
    'á':'a',
    'â':'a',
    'ã':'a',
    'å':'a',
    'æ':'a',
    'ç':'c',
    'è':'e',
    'é':'e',
    'ê':'e',
    'ë':'e',
    'ì':'i',
    'í':'i',
    'î':'i',
    'ï':'i',
    'ñ':'n',
    'ò':'o',
    'ó':'o',
    'ô':'o',
    'õ':'o',
    'ø':'o',
    'ù':'u',
    'ú':'u',
    'û':'u',
    'ý':'y',
    'ÿ':'y',
}

In [2]:
items_deduplicated = pd.read_csv('items_deduplicated.csv',delimiter='\|',engine='python')

In [3]:
items_ = pd.read_csv('items.csv',delimiter='\|',engine='python')

In [4]:
eval_ = pd.read_csv('evaluation.csv',engine='python')

In [7]:
items_.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 78334 entries, 0 to 78333
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   itemID      78334 non-null  int64
 1   title       78334 non-null  object
 2   author      75087 non-null  object
 3   publisher   78325 non-null  object
 4   main topic  78075 non-null  object
 5   subtopics   78334 non-null  object
dtypes: int64(1), object(5)
memory usage: 3.6+ MB

In [8]:
items_deduplicated.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 76489 entries, 0 to 76488
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   itemID      76489 non-null  int64
 1   title       76489 non-null  object
 2   author      73262 non-null  object
 3   publisher   76480 non-null  object
 4   main topic  76232 non-null  object
 5   subtopics   76489 non-null  object
dtypes: int64(1), object(5)
memory usage: 3.5+ MB

In [9]:
items_deduplicated.head(10)

,itemID,title,author,publisher,main topic,subtopics
0,0,Cuadernos de actividades para niños de 5 a 6 a...,Garcia Santiago,Fichas de preescolar,YBG,[]
1,1,Kinderklassiker-Soundbuch - Don Quichotte,Miguel de Cervantes Saavedra,Yo Yo Books,YBC,[]
2,2,Ich kann zeichnen! Pferde und Ponys - Schritt ...,Fiona Watt,Usborne Verlag,YBGC,[YBL]
3,3,The Chocolate Touch,Patrick Skene Catling,HARPERCOLLINS,YFQ,[YFJ]
4,4,Thinandbeautiful.com,Liane Shaw,ORCA BOOK PUBL,YXA,[YF]
5,5,Herr der Welt,Jules Verne,TP Verone Publishing,FB,[]
6,6,Honor Harrington: Schmiede des Zorns,David Weber,Lübbe,FLS,"[FLP,FLQ]"
7,7,Mao und das Vermächtnis von Atlantis,Mario Klotz,epubli,FM,[]
8,8,Mi Buen Perro,Katrina Streza,XIST PUB,YBLJ,"[YFP,YFQ]"
9,9,In grauer Vorzeit,Lucian Caligo,Books on Demand,FL,[]

In [10]:
test_title = 'Cuadernos de actividades para - niños de 5 a 6        años (Rodea con un círculo la hora que muestra el reloj'

In [11]:
def cleanse_string(string_ : str):
    substrings = string_.split()
    substrings[:] = [s.lower() for s in substrings]
    for sc in special_chars:
        substrings[:] = [s.replace(sc, '') for s in substrings]
    for key, val in replace_chars.items():
        substrings[:] = [s.replace(key, val) for s in substrings]
    substrings = list(filter(None, substrings))
    return " ".join(substrings)

In [12]:
print(test_title)
print(cleanse_string(test_title))

Cuadernos de actividades para - niños de 5 a 6        años (Rodea con un círculo la hora que muestra el reloj
cuadernos de actividades para ninos de 5 a 6 anos rodea con un circulo la hora que muestra el reloj

### cleansing items_deduplicated.csv

In [16]:
for i in items_deduplicated.index:
    title = str(items_deduplicated.at[i, 'title'])
    cleansed_title = cleanse_string(title)
    items_deduplicated.at[i, 'title'] = cleansed_title

In [18]:
for j in items_deduplicated.index:
    author = str(items_deduplicated.at[j, 'author'])
    cleansed_author = cleanse_string(author)
    items_deduplicated.at[j, 'author'] = cleansed_author

In [20]:
for k in items_deduplicated.index:
    publisher = str(items_deduplicated.at[k, 'publisher'])
    cleansed_publisher = cleanse_string(publisher)
    items_deduplicated.at[k, 'publisher'] = cleansed_publisher

In [21]:
items_deduplicated.head(10)

,itemID,title,author,publisher,main topic,subtopics
0,0,cuadernos de actividades para ninos de 5 a 6 a...,garcia santiago,fichas de preescolar,YBG,[]
1,1,kinderklassikersoundbuch don quichotte,miguel de cervantes saavedra,yo yo books,YBC,[]
2,2,ich kann zeichnen pferde und ponys schritt für...,fiona watt,usborne verlag,YBGC,[YBL]
3,3,the chocolate touch,patrick skene catling,harpercollins,YFQ,[YFJ]
4,4,thinandbeautifulcom,liane shaw,orca book publ,YXA,[YF]
5,5,herr der welt,jules verne,tp verone publishing,FB,[]
6,6,honor harrington schmiede des zorns,david weber,lübbe,FLS,"[FLP,FLQ]"
7,7,mao und das vermächtnis von atlantis,mario klotz,epubli,FM,[]
8,8,mi buen perro,katrina streza,xist pub,YBLJ,"[YFP,YFQ]"
9,9,in grauer vorzeit,lucian caligo,books on demand,FL,[]

In [22]:
items_deduplicated.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 76489 entries, 0 to 76488
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   itemID      76489 non-null  int64
 1   title       76489 non-null  object
 2   author      76489 non-null  object
 3   publisher   76489 non-null  object
 4   main topic  76232 non-null  object
 5   subtopics   76489 non-null  object
dtypes: int64(1), object(5)
memory usage: 3.5+ MB

In [23]:
len(items_deduplicated)

76489

In [55]:
topics = items_deduplicated['main topic'].tolist()

In [56]:
topics[0]

'YBG'

In [57]:
chars_ = []

In [58]:
for topic in topics:
    for char in str(topic).lower():
        chars_.append(char)
    chars_ = list(set(chars_))

In [53]:
sorted(chars_)

[',',
 '-',
 '1',
 '2',
 '3',
 '4',
 '5',
 '6',
 '7',
 '8',
 '9',
 '[',
 ']',
 'a',
 'b',
 'c',
 'd',
 'e',
 'f',
 'g',
 'h',
 'i',
 'j',
 'k',
 'l',
 'm',
 'n',
 'o',
 'p',
 'q',
 'r',
 's',
 't',
 'u',
 'v',
 'w',
 'x',
 'y',
 'z']

In [80]:
items_deduplicated.head(20)

,itemID,title,author,publisher,main topic,subtopics
0,0,cuadernos de actividades para ninos de 5 a 6 a...,garcia santiago,fichas de preescolar,ybg,
1,1,kinderklassikersoundbuch don quichotte,miguel de cervantes saavedra,yo yo books,ybc,
2,2,ich kann zeichnen pferde und ponys schritt für...,fiona watt,usborne verlag,ybgc,ybl
3,3,the chocolate touch,patrick skene catling,harpercollins,yfq,yfj
4,4,thinandbeautifulcom,liane shaw,orca book publ,yxa,yf
5,5,herr der welt,jules verne,tp verone publishing,fb,
6,6,honor harrington schmiede des zorns,david weber,lübbe,fls,"flp,flq"
7,7,mao und das vermächtnis von atlantis,mario klotz,epubli,fm,
8,8,mi buen perro,katrina streza,xist pub,yblj,"yfp,yfq"
9,9,in grauer vorzeit,lucian caligo,books on demand,fl,
10,10,the adventures of huckleberry finn,mark twain,penguin random house childrens uk,yfa,5ak
11,11,stahlzeit 01 schicksalsschlacht kursk,tom zola,hjb verlag shop kg,fl,
12,12,breathtaking,reva ryann thompson,xlibris,fm,
13,13,bloom,nicola skinner,harpercollins publishers,yfh,"1ddu,3mrbf"
14,14,a great and terrible beauty,libba bray,delacorte pr,yfh,yft
15,15,geronimo stilton 30 mouse island marathon,geronimo stilton,scholastic us,yfc,yfp
16,16,magical girl raising project vol 6 light novel,asari endou,little brown company,yf,
17,17,zu gut für die tonne,nan,dorling kindersley verlag,rnkh,"5af,5ag,4ca,rnh,rnpd,rnpg,rnu,wft,ybl,yng,ynnb..."
18,18,das gauklermärchen,michael ende,hockebooks,fmm,fmm
19,19,metrognomes,glenn slade jr clark,clark ink llc,fm,

In [74]:
for i in items_deduplicated.index:
    topic=str(items_deduplicated.at[i, 'main topic'])
    subtopics_=str(items_deduplicated.at[i, 'subtopics'])
    cleansed_topic = topic.lower().replace('[','').replace(']','')
    cleansed_subtopics_ = subtopics_.lower().replace('[','').replace(']','')
    #print(cleansed_topic)
    #print(cleansed_subtopics_)
    items_deduplicated.at[i, 'main topic'] = cleansed_topic
    items_deduplicated.at[i, 'subtopics'] = cleansed_subtopics_

In [81]:
len(items_deduplicated)

76489

In [82]:
items_deduplicated.to_csv('items_deduplicated_cleansed.csv',sep='|',encoding='utf-8',index=False)

### cleansing items.csv

In [85]:
for i in items_.index:
    title = str(items_.at[i, 'title'])
    cleansed_title = cleanse_string(title)
    items_.at[i, 'title'] = cleansed_title

In [91]:
for j in items_.index:
    author = str(items_.at[j, 'author'])
    cleansed_author = cleanse_string(author)
    items_.at[j, 'author'] = cleansed_author

In [93]:
for k in items_.index:
    publisher = str(items_.at[k, 'publisher'])
    cleansed_publisher = cleanse_string(publisher)
    items_.at[k, 'publisher'] = cleansed_publisher

In [87]:
items_=items_.sort_values(by=['itemID'])

In [96]:
items_.head(10)

,itemID,title,author,publisher,main topic,subtopics
58507,0,cuadernos de actividades para ninos de 5 a 6 a...,garcia santiago,fichas de preescolar,ybg,
4706,1,kinderklassikersoundbuch don quichotte,miguel de cervantes saavedra,yo yo books,ybc,
1784,2,ich kann zeichnen pferde und ponys schritt für...,fiona watt,usborne verlag,ybgc,ybl
74307,3,the chocolate touch,patrick skene catling,harpercollins,yfq,yfj
77648,4,thinandbeautifulcom,liane shaw,orca book publ,yxa,yf
41931,5,herr der welt,jules verne,tp verone publishing,fb,
10572,6,honor harrington schmiede des zorns,david weber,lübbe,fls,"flp,flq"
9046,7,mao und das vermächtnis von atlantis,mario klotz,epubli,fm,
38795,8,mi buen perro,katrina streza,xist pub,yblj,"yfp,yfq"
37877,9,in grauer vorzeit,lucian caligo,books on demand,fl,

In [95]:
for i in items_.index:
    topic=str(items_.at[i, 'main topic'])
    subtopics_=str(items_.at[i, 'subtopics'])
    cleansed_topic = topic.lower().replace('[','').replace(']','')
    cleansed_subtopics_ = subtopics_.lower().replace('[','').replace(']','')
    #print(cleansed_topic)
    #print(cleansed_subtopics_)
    items_.at[i, 'main topic'] = cleansed_topic
    items_.at[i, 'subtopics'] = cleansed_subtopics_

In [90]:
items_.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 78334 entries, 58507 to 28552
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   itemID      78334 non-null  int64
 1   title       78334 non-null  object
 2   author      75087 non-null  object
 3   publisher   78325 non-null  object
 4   main topic  78075 non-null  object
 5   subtopics   78334 non-null  object
dtypes: int64(1), object(5)
memory usage: 4.2+ MB

In [97]:
len(items_)

78334

In [98]:
items_.to_csv('items_cleansed.csv',sep='|',encoding='utf-8',index=False)