In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import os

os.chdir("data/")

In [2]:
df = pd.read_csv('items.csv',delimiter='\|',engine='python')

In [3]:
df.head()

,itemID,title,author,publisher,main topic,subtopics
0,21310,Princess Poppy: The Big Mix Up,Janey Louise Jones,Penguin Random House Children's UK,YFB,[5AH]
1,73018,Einfach zeichnen! Step by Step,Wiebke Krabbe,Schwager und Steinlein,AGZ,"[5AJ,AGZ,WFA,YBG,YBL,YNA,YPA]"
2,19194,Red Queen 1,Victoria Aveyard,Orion Publishing Group,YFH,"[5AP,FBA]"
3,40250,Meine Kindergarten-Freunde (Pirat),NaN,Ars Edition GmbH,YB,"[5AC,5AD,YBG,YBL,YF]"
4,46107,Mein großes Schablonen-Buch - Wilde Tiere,Elizabeth Golding,Edition Michael Fischer,WFTM,"[WD,WFTM,YBG,YBL,YBLD,YBLN1]"

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 78334 entries, 0 to 78333
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   itemID      78334 non-null  int64
 1   title       78334 non-null  object
 2   author      75087 non-null  object
 3   publisher   78325 non-null  object
 4   main topic  78075 non-null  object
 5   subtopics   78334 non-null  object
dtypes: int64(1), object(5)
memory usage: 3.6+ MB

In [5]:
df = df.sort_values(by=['itemID'])

In [6]:
df.head(10)

,itemID,title,author,publisher,main topic,subtopics
58507,0,Cuadernos de actividades para niños de 5 a 6 a...,Garcia Santiago,Fichas de preescolar,YBG,[]
4706,1,Kinderklassiker-Soundbuch - Don Quichotte,Miguel de Cervantes Saavedra,Yo Yo Books,YBC,[]
1784,2,Ich kann zeichnen! Pferde und Ponys - Schritt ...,Fiona Watt,Usborne Verlag,YBGC,[YBL]
74307,3,The Chocolate Touch,Patrick Skene Catling,HARPERCOLLINS,YFQ,[YFJ]
77648,4,Thinandbeautiful.com,Liane Shaw,ORCA BOOK PUBL,YXA,[YF]
41931,5,Herr der Welt,Jules Verne,TP Verone Publishing,FB,[]
10572,6,Honor Harrington: Schmiede des Zorns,David Weber,Lübbe,FLS,"[FLP,FLQ]"
9046,7,Mao und das Vermächtnis von Atlantis,Mario Klotz,epubli,FM,[]
38795,8,Mi Buen Perro,Katrina Streza,XIST PUB,YBLJ,"[YFP,YFQ]"
37877,9,In grauer Vorzeit,Lucian Caligo,Books on Demand,FL,[]

In [7]:
len(df)

78334

In [8]:
df_duplicates = df[df.duplicated(subset=['title','author','publisher','main topic','subtopics']) == True]

In [9]:
df_duplicates.sort_values(by=['title']).head(10)

,itemID,title,author,publisher,main topic,subtopics
41664,8185,1906,Ferdinand Grautoff,Hofenberg,FL,[]
63996,66159,2084 - Money Goodbye,Artur Rümmler,tredition,FB,[]
13490,32408,2121,Nikkita Pierrottie,Lulu.com,FM,[]
15060,63255,2121,Nikkita Pierrottie,Lulu.com,FM,[]
71424,71135,2412 - STUNDE NULL,"Martin Selle, Susanne Knauss, Reinhard Stengel...",tredition,FB,[]
44841,73948,444,"Gudrun S. Schutting-Wieser (Hg.), Andreas Unte...",myMorawa,FM,"[FK,YFC,YFD,YFH]"
28571,69477,A Banished Land,Jake Jauch,Abbott Press,FJ,[FL]
72506,74784,A Bridge Of Shadow: Premium Hardcover Edition,Natalie J. Case,BLURB INC,FB,[FM]
69895,41164,A Chance of Rain,Joshua G. J. Insole,tredition,FB,[]
69250,59150,A Fonte,Cs Luis,BLURB INC,FM,[FR]

In [10]:
len(df_duplicates.title.unique())

1532

In [11]:
len(df_duplicates)

1845

In [12]:
df_deduplicated = df.drop_duplicates(subset=['title','author','publisher','main topic','subtopics'])

In [13]:
len(df_deduplicated)

76489

In [14]:
df_deduplicated.head(10)

,itemID,title,author,publisher,main topic,subtopics
58507,0,Cuadernos de actividades para niños de 5 a 6 a...,Garcia Santiago,Fichas de preescolar,YBG,[]
4706,1,Kinderklassiker-Soundbuch - Don Quichotte,Miguel de Cervantes Saavedra,Yo Yo Books,YBC,[]
1784,2,Ich kann zeichnen! Pferde und Ponys - Schritt ...,Fiona Watt,Usborne Verlag,YBGC,[YBL]
74307,3,The Chocolate Touch,Patrick Skene Catling,HARPERCOLLINS,YFQ,[YFJ]
77648,4,Thinandbeautiful.com,Liane Shaw,ORCA BOOK PUBL,YXA,[YF]
41931,5,Herr der Welt,Jules Verne,TP Verone Publishing,FB,[]
10572,6,Honor Harrington: Schmiede des Zorns,David Weber,Lübbe,FLS,"[FLP,FLQ]"
9046,7,Mao und das Vermächtnis von Atlantis,Mario Klotz,epubli,FM,[]
38795,8,Mi Buen Perro,Katrina Streza,XIST PUB,YBLJ,"[YFP,YFQ]"
37877,9,In grauer Vorzeit,Lucian Caligo,Books on Demand,FL,[]

In [15]:
df_deduplicated.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 76489 entries, 58507 to 28552
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   itemID      76489 non-null  int64
 1   title       76489 non-null  object
 2   author      73262 non-null  object
 3   publisher   76480 non-null  object
 4   main topic  76232 non-null  object
 5   subtopics   76489 non-null  object
dtypes: int64(1), object(5)
memory usage: 4.1+ MB

In [16]:
df_deduplicated.to_csv('items_deduplicated.csv',sep='|',encoding='utf-8',index=False)