In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')

In [2]:
import os
os.chdir('data/')

In [3]:
import nltk
#nltk.download('stopwords')
from nltk.corpus import stopwords

In [4]:
items = pd.read_csv('items.csv', delimiter='\|', engine='python')
items_c = pd.read_csv('items_cleansed.csv', delimiter='\|', engine='python')
eval_ = pd.read_csv('evaluation.csv', delimiter='\|', engine='python')

In [5]:
items_c[items_c['itemID']==np.int64(22)]

,itemID,title,author,publisher,main topic,subtopics
22,22,wily and the canine pandemic,michelle weidenbenner,random publishing llc,yfh,NaN

In [6]:
for i in items_c.index:
    #print(str(items_c.at[i, 'title']))
    title = str(items_c.at[i, 'title']).split()
    for language in ['german','english','spanish','portuguese','russian','french','italian','dutch']:
        title = [w for w in title if w not in stopwords.words(language)]
    title = ' '.join(title)
    #print(title,'\n')
    items_c.at[i, 'title'] = title

In [7]:
items_c[items_c['itemID']==np.int64(22)]

,itemID,title,author,publisher,main topic,subtopics
22,22,wily canine pandemic,michelle weidenbenner,random publishing llc,yfh,NaN

In [8]:
items_c.to_csv('items_stopc.csv',sep='|',encoding='utf-8',index=False)